.App {
  padding-top: 36px;
  text-align: center;
}

.SearchForm-wrapper {
  display: flex;
  justify-content: center;
}

.MoviesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px;
}

.MoviesList-item {
  margin-bottom: 24px;
  width: 100%;
  padding: 1%;
}
.title {
  align-self: center;

}
.columns {
  justify-self: left;
  padding: 20px;
  flex-direction: row;
  background-color: aquamarine;
  margin: 20px;
  border-radius: 1cm;
}
.column {
  align-content: center;
}
#homeMenu {
  margin: 20px;
  border-radius: 1cm;
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;

}